div.section-container {
  @include verticalCenter;
}
h1.title_log {
  @include title_h1;
}
div.form-search {
  width: 50%;
  margin-bottom: 30px;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    "inp inp"
    "date date"
    "btn btn";
}
div.form_input_search {
  grid-area: inp;
  width: 100%;
}
input#search {
  width: 100%;
  padding: 10px;
  border-radius: 40px;
  font-size: 1.5rem;
  border: 3px solid $color-1;
  outline: none;
  transition: 0.4s;
  text-align: center;
  margin-bottom: 20px;

  &:focus {
    background: $color-1;
    border-radius: 4px;
    color: $white;
  }
}
div.form_input_date {
  grid-area: date;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

input.startDate {
  @include input_date;
  width: 100%;
}
input.endDate {
  @include input_date;
  width: 100%;
  box-sizing: border-box;
}
div.btn {
  grid-area: btn;
  display: grid;
}
button.btn-search {
  font-size: 2.5rem;
  border-radius: 10px;
  border: 2px solid $color-1;
  text-align: center;
  margin-bottom: 20px;
  cursor: pointer;
  &:hover {
    background: $color-1;
    color: $white;
  }
}

div.table_content {
  padding: 40px;
  background: $white;
  margin: 20px 30px 0;

  table.dataTable {
    width: 100%;
    background: $white;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
    border-radius: 15px 15px 0 0;
    overflow: hidden;
    font-family: "DMSerif", sans-serif;
    font-size: 1.2rem;
    color: $color-3;

    thead {
      background: $color-1;
      color: $white;
      th {
        padding: 14px 18px;
        text-align: center;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 0.05em;
      }
    }

    tbody {
      tr {
        border-bottom: 1px solid #eee;
        transition: background 0.5s ease;
        margin-left: 20px;

        &:hover {
          background: $white;
        }

        td {
          padding: 12px 18px;
          text-align: center;

          &:first-child {
            text-align: left;
          }
        }

        &:last-child {
          border-bottom: none;
        }
      }
    }

    @media (max-width: 780px) {
      font-size: 14px;
      th,
      td {
        padding: 10px;
      }
    }
  }
}
