@font-face {
  font-family: "DMSerif";
  src: url(../assets//fonts//DMSerifText-Regular.ttf);
}

$fontBase: "DMSerif", sans-serif;

$color-1: #61dafb;
$color-2: salmon;
$color-3: #282c34;
$white: rgb(243, 243, 243);

@mixin verticalCenter {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@mixin title_h1 {
  margin-bottom: 30px;
  letter-spacing: 2px;
}
@mixin input_date {
  margin-bottom: 20px;
  font-size: 2rem;
  cursor: pointer;
  border-radius: 10px;
  border: 2px solid $color-1;
  outline: none;
  transition: 0.4s;
  text-align: center;

  &:focus {
    background: $color-1;
    color: $white;
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: $white;
  font-family: $fontBase;
  width: 100%;
  height: 100vh;
}
li {
  list-style-type: none;
}
